.container{
    display: grid;
    background-color: rgb(166, 166, 248);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 550px;
    width: 550px;
    justify-content: center;
    align-items: center;
}
.biggercontainer{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}

/*calculator html
have a div underneath with two buttons 
one is a clear button, and and another is play again 
a div on top with two players 
an updated score per game 


Logic:
things to do to make a tic tac toe game 
a board 
x,o
turn switching 
update display 
winning combos 
updated score per game 
one is a clear button, and and another is play again */