.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    justify-content: space-around;
}
.playerscores{
    display: flex;
    width: 550px;
    justify-content: space-around;
}
.tac{
    display: grid;
    background-color: rgb(166, 166, 248);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 550px;
    width: 550px;
    justify-content: center;
    align-items: center;
}
.tic{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.bottom-buttons{
    display: flex;
    width: 550px;
    justify-content: space-around;
}
.winner-modal{
    width: 150px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.corner{
  display: flex;
  justify-content: end;
  padding-right: 3px;
  padding-top: 3px;
}
.x{
     height: 18px;
     width: 18px;
     display: flex;
     justify-content: center;
}
.clear,.play-again{
    background-color: rgb(124, 124, 173);
    border-radius: 20%;
    border: none;
    color: whitesmoke;
    height: 40px;
    width: 125px;
  box-shadow: 0 0 7px 5px rgba(247, 223, 30, 0.5);
}

.p1,.p2{
   background-color: aliceblue;
   width: 80px;
}

/*calculator html
have a div underneath with two buttons 
one is a clear button, and and another is play again 
a div on top with two players 
an updated score per game 


Logic:
things to do to make a tic tac toe game 
a board 
x,o
turn switching 
update display 
winning combos 
updated score per game 
one is a clear button, and and another is play again */